<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Secret2</title>
</head>
<body>
    <h1>Secret - 2</h1>
    <h2>
        "I have keys but open no locks. I have space but no room. You can enter, but you can't go inside. What am I?"
    </h2>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
</body>
</html>